body {
    width: 100vw;
    background-color: black;
    color: blue;
    font-size: 48px;
}

div {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

p {
    animation: test 2s linear alternate infinite;
    transform: skew(-15deg, 15deg) rotate(45deg) scale(2) scale(1); 
}

@keyframes test {
    0% {
        color: blue;
        -moz-transform: scale(0.8) rotate(17deg) translate(7px, -4px) skew(-63deg, -1deg);
        -webkit-transform: scale(0.8) rotate(17deg) translate(7px, -4px) skew(-63deg, -1deg);
        -o-transform: scale(0.8) rotate(17deg) translate(7px, -4px) skew(-63deg, -1deg);
        -ms-transform: scale(0.8) rotate(17deg) translate(7px, -4px) skew(-63deg, -1deg);
        transform: scale(0.8) rotate(17deg) translate(7px, -4px) skew(-63deg, -1deg);
    }

    100% {
        color:forestgreen;
        -moz-transform: scale(1.5) rotate(185deg) translate(9px, 6px) skew(0deg, -4deg);
        -webkit-transform: scale(1.5) rotate(185deg) translate(9px, 6px) skew(0deg, -4deg);
        -o-transform: scale(1.5) rotate(185deg) translate(9px, 6px) skew(0deg, -4deg);
        -ms-transform: scale(1.5) rotate(185deg) translate(9px, 6px) skew(0deg, -4deg);
        transform: scale(1.5) rotate(185deg) translate(9px, 6px) skew(0deg, -4deg);     
    }
}

#demo {
    -moz-transform: scale(0.8) rotate(17deg) translate(7px, -4px) skew(-63deg, -1deg);
    -webkit-transform: scale(0.8) rotate(17deg) translate(7px, -4px) skew(-63deg, -1deg);
    -o-transform: scale(0.8) rotate(17deg) translate(7px, -4px) skew(-63deg, -1deg);
    -ms-transform: scale(0.8) rotate(17deg) translate(7px, -4px) skew(-63deg, -1deg);
    transform: scale(0.8) rotate(17deg) translate(7px, -4px) skew(-63deg, -1deg);
    }